@import './../../../variables.scss';

.form-control {
	.form-control-label {
		display: inline-block;
		padding: 10px 0;
		color: $secondary-color;

		&:hover {
			cursor: pointer;
		}
	}

	.form-control-input {
		display: block;
		width: 100%;
		padding: 5px;
		border: 2px solid transparent;
		border-bottom: 2px solid $secondary-color;

		&:focus {
			outline: 2px solid transparent;
			border-left: 2px solid $secondary-color;
		}
	}

	.form-control-warning {
		color: rgb(172, 8, 8);
		min-height: 42px;
	}
}
