@import './../../variables.scss';

.footer {
    display: flex;
    justify-content: center;
    padding: 30px 20px;

    p {
        color: $gray-color;
        padding: 10px;

        & + p {
            border-left: 1px solid $gray-color;
        }
    }
}