.main-button {
	border: 2px solid rgb(107, 191, 216);
	background-color: rgb(107, 191, 216);
	border-radius: 2px;
	color: white;
	padding: 5px 10px;
	margin: 5px 0;
	transition: all 0.2s ease-in;

	&:hover {
		cursor: pointer;
		background-color: white;
		color: rgb(107, 191, 216);
	}
}
