@import './../../../../variables.scss';

.main-button {
	border: none;
	background-color: $secondary-color;
	border-radius: 2px;
	color: white;
	padding: 5px 10px;
	margin-bottom: 15px;
	transition: all 0.2s ease-in;

	&:hover {
		cursor: pointer;
	}
}
