@import './../../variables.scss';

.login-section {
	display: flex;
	height: 60vh;

	.login-container {
		display: flex;
		border-radius: 5px;
		max-width: 500px;
		width: 100%;
		margin: auto;

		.login-form {
			margin: 15px auto;
			width: 60%;
		}
	}
}
