@import './../../variables.scss';

.login-section {

	.login-container {
		max-width: 300px;
		margin: auto;

		.login-form {
			margin: 15px auto;

			.not-register-yet {
				margin-left: 10px;
				color: $secondary-color;
				padding: 5px;
				border: 1px solid transparent;
				transition: all 0.2s ease-in;

				&:hover {
					border-bottom: 1px solid $secondary-color;
				}
			}
		}
	}
}
