@import './../../variables.scss';

.register-section {
	display: flex;
	height: 60vh;

	.register-container {
		display: flex;
		border-radius: 5px;
		max-width: 500px;
		width: 100%;
		margin: auto;

		.register-form {
			margin: 15px auto;
			width: 60%;

			.already-register {
				margin-left: 10px;
				color: $secondary-color;
				padding: 5px;
				border: 1px solid transparent;
				transition: all 0.2s ease-in;

				&:hover {
					border-bottom: 1px solid $secondary-color;
				}
			}
		}
	}
}
